
* {
    margin: 0; 
    padding: 0;
}

html, body, #root{
    width:100%; 
    height:100%;
}

.App-new, .App-comments, .App-title, .App-container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.App-comments, .App-leer-mas {
    color:darkgray;
}

.App-description {
    height:50%;
    font-weight: bold;
    font-size: 23px;
}

.App-categories{
    color: green;
    font-weight: bold;
}

.App-container-text {
    height: 200px;
    min-width: 400px;
    max-width: 500px;
    padding: 10px;
    margin: 5px;
}

img {
    height: 200px;
    padding: 10px;
    margin: 5px;
}

p {
    padding: 5px;
}